.cart {
  display: flex;
  flex-direction: column;
  height: 100%;


  .cart-total {
    font-size: 20px;
    font-weight: 600;
    margin: .5em 0;
  }

  .cart-items {
    flex: 1 0;
    overflow: auto;

    .cart-item {
      margin: 1em;
      border: 1px solid black;
      position: relative;

      .quantity {
        background-color: rgb(118, 118, 118);
        color: rgb(255, 255, 255);
        display: flex;

        .qnty {
          font-size: 10px;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          padding: 2px 10px;
          border-right: 1px solid;
        }

        .count {
          text-align: left;
          padding: 2px 10px;
          font-weight: bold;
        }
      }

      .item-details {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          flex: 0 0 30%;
          height: 60px;
          width: 30%;
        }
      }

      .actions {
        display: flex;
        background-color: green;
        height: 20px;
        color: white;


        button {
          flex: 1;
          color: white;
          font-weight: 600;

          &:not(:last-child) {
            border-right: 1px solid black;
          }
        }

        .add {
          background-color: rgb(32, 87, 32);
        }

        .remove {
          background-color: rgb(131, 15, 15);
        }
      }
    }


  }

  .footer {
    height: 100px;
    width: 100px;
    background-color: RED;
    position: sticky;
    bottom: 0;
  }
}